requests                      tqdm                          python-dotenv                 pillow                        opencv-python                 numpypandasmatplotlibscikit-image                  scikit-learn                  torch>=2.2                    ultralytics                  timm                          google-api-python-clientgoogle-authgoogle-auth-oauthlibgoogle-auth-httplib2          